@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.thmbnl_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-y: hidden;
}
.thmbnl-image_cont {
    position: absolute;
    margin: 60px 60px;
    display: grid;
    grid-template-rows: repeat(2, 0fr);
    grid-template-columns: repeat(3, 0fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    right: 0px;
    bottom: 0px;
}
#thmbnl {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 58vh;
    height: 30vh;
    box-shadow: 0px -90px 60px -60px rgb(0, 0, 0) inset;
    background: url("https://images.unsplash.com/photo-1562515176-09ad0c72b1b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    border-radius: 15px;
}
#txt {
    position: absolute;
    bottom: 0px;
    font: 500 17px "Inter", sans-serif;
    color: white;
    padding: 5%;
}